[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/rope-omni"]
	path = .vim/bundle/rope-omni
	url = git://github.com/rygwdn/rope-omni.git
[submodule ".oh-my-zsh/themes/powerline"]
	path = .oh-my-zsh/themes/powerline
	url = git://github.com/jeremyFreeAgent/oh-my-zsh-powerline-theme.git
