*depth: 32

! special
*.foreground:   #eceff1
*.background:   #263238
*.cursorColor:  #eceff1

! black
*.color0:       #263238
*.color8:       #37474f

! red
*.color1:       #ff9800
*.color9:       #ffa74d

! green
*.color2:       #8bc34a
*.color10:      #9ccc65

! yellow
*.color3:       #ffc107
*.color11:      #ffa000

! blue
*.color4:       #03a9f4
*.color12:      #81d4fa

! magenta
*.color5:       #e91e63
*.color13:      #ad1457

! cyan
*.color6:       #009688
*.color14:      #26a69a

! white
*.color7:       #cfd8dc
*.color15:      #eceff1


URxvt*font: xft:Ubuntu Mono derivative Powerline:pixelsize=14:antialias=true:hinting=true
URxvt*boldFont: xft:Ubuntu Mono derivative Powerline:pixelsize=14:antialias=true:bold:hinting=true
URxvt*italicFont: xft:Ubuntu Mono derivative Powerline:pixelsize=14:antialias=true:italic:hinting=true
URxvt*bolditalicFont: xft:Ubuntu Mono derivative Powerline:pixelsize=14:antialias=true:bold:italic:hinting=true

!URxvt.font: -xos4-terminesspowerline-medium-r-normal--14-140-72-72-c-80-iso10646-1
URxvt*loginShell: true
URxvt.scrollBar: false
URxvt*scrollTtyOutput: false
URxvt*scrollTtyKeypress: true
URxvt*saveLines: 0
!URxvt*boldFont: -xos4-terminesspowerline-bold-r-normal--14-140-72-72-c-80-iso10646-1
URxvt.internalBorder:  15

URxvt.geometry: 86x24

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #1c1b1b, #c8b49d, #c8b49d
rofi.color-normal: #1c1b1b, #c8b49d, #070808, #c8b49d, #1c1b1b
rofi.color-active: #1c1b1b, #4d6733, #070808, #4d6733, #cccccc
rofi.color-urgent: #1c1b1b, #bd5d4c, #070808, #bd5d4c, #1c1b1b
